@import "tailwindcss";

@theme {
  --color-primary: #10B981;
  --color-secondary: #3B82F6;
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
}

body {
  background-color: var(--color-background);
  color: rgb(17 24 39);
  font-family: ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}